<div class="row">
  <div class="col-md-12">
    <button class="btn btn-default btn-sm" type="button" (click)="onLogin()">Login</button>
    <button class="btn btn-default btn-sm" type="button" (click)="onLogout()">Logout</button>
  </div>
  <div class="col-md-4" *ngFor="let book of books; let i = index;">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Book Id: {{book.id}}</h4>
      </div>
      <div class="card-body">
        <p>{{i}}
          Name: {{book.name}}
        </p>
      </div>
      <div class="card-footer">
        <a class="btn btn-info btn-sm btn-block" [routerLink]="['/books', book.id]">View Details</a>
        <a 
          class="btn btn-info btn-sm btn-block" 
          [routerLink]="['/books', book.id, 'edit']"
          [queryParams]="{allowEdit: book.instock === true ? '1': '0'}"
        >
          Edit Book
        </a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>