<h3>Ngrx Example</h3>
<a class="btn btn-secondary btn-sm mx-1" [routerLink]="['/ngrx-users', 'add']">Add</a>
<div class="row">
  <div class="col-md-6" *ngFor="let user of (usersState | async).users">
    <div class="card border-secondary mb-3">
      <div class="card-header">{{user.username}}</div>
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
      </div>
      <div class="card-footer bg-transparent">
        <a class="btn btn-secondary btn-sm" [routerLink]="['/ngrx-users', user.id]">View Details</a>       
        <button type="button" class="btn btn-secondary btn-sm mx-1" [routerLink]="['/ngrx-users', user.id, 'edit']">Edit</button>
        <button type="button" class="btn btn-secondary btn-sm mx-1" data-toggle="modal" data-target="#deleteModal">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <app-modal></app-modal>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <app-modal></app-modal>
</div>

