<ul class="list-group">
  <li class="list-group-item"><a routerLink="blog-main">Blog</a></li>
  <li class="list-group-item"><a routerLink="cards">Cards</a></li>
  <li class="list-group-item"><a routerLink="directives">Directivess</a></li>
  <li class="list-group-item"><a routerLink="forms">Forms</a></li>
  <li class="list-group-item"><a routerLink="grid">Grid Example</a></li>
  <li class="list-group-item">
    <a routerLink="signup" data-toggle="tooltip" data-placement="bottom" title="Signup Form">
      Reactive Form
    </a>
  </li>
  <li class="list-group-item">
    <a routerLink="feedback" data-toggle="tooltip" data-placement="bottom" title="Feedback Form">
      Template Driven Form
    </a>
  </li>
  <li class="list-group-item"><a routerLink="user">User</a></li>
  <li class="list-group-item"><a routerLink="blog-main">Blog Main</a></li>
  <li class="list-group-item"><a routerLink="blog-home">Blog Home</a></li>
  <li class="list-group-item"><a routerLink="blog-post">Blog Post</a></li>
  <li class="list-group-item">ComingSoon</li>
</ul>
