<div class="row justify-content-center">
  <div class="col-md-6 col-sm-8">
    <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm)">
      <fieldset>
        <legend>Signup Form</legend>

        <div class="form-group">
          <label for="email">Email address</label>
          <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@email.com">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div 
            class="alert alert-danger" 
            *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid">
            <div *ngIf="signupForm.get('email').hasError('required')">
              Email Id is required.
            </div>
            <div *ngIf="signupForm.get('email').hasError('email') && !signupForm.get('email').hasError('required') && !signupForm.get('email').hasError('minlength')">
              Email Id is invalid.
            </div>
            <div *ngIf="signupForm.get('email').hasError('minlength')">
              Minimum length 8 characters is required.
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="password">Password</label>
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
          <div 
            class="alert alert-danger" 
            *ngIf="signupForm.get('password').touched && signupForm.get('password').invalid">
            <div *ngIf="signupForm.get('password').hasError('required')">
              Password is required.
            </div>
            <div *ngIf="signupForm.get('password').hasError('minlength')">
              Minimum length 5 characters is required.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="cPassword">Confirm Password</label>
          <input formControlName="cPassword" type="password" class="form-control" id="cPassword" placeholder="Retype Password">
          <div 
          class="alert alert-danger" 
            *ngIf="signupForm.get('cPassword').touched && signupForm.get('cPassword').invalid">
            <div *ngIf="signupForm.get('cPassword').hasError('required')">
              Password is required.
            </div>
            <div *ngIf="signupForm.get('cPassword').hasError('minlength')">
              Minimum length 5 characters is required.
            </div>
          </div>
        </div>
        
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            Remember me
          </label>
        </div>
        
        <button 
          type="submit" 
          class="btn btn-primary" 
          [disabled]="signupForm.invalid">
          Submit
        </button>

      </fieldset>
    </form>
  </div>
</div>


<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of userList">
    {{user.email}}
  </li>
</ul>