<div class="row">
  <div class="col-md-12 my-3">
    <h3>Structural directive example</h3>
    <h5>ngFor and ngIf</h5>
    <ul class="list-group">
      <div class="" *ngFor="let n of [1, 2, 3, 4, 5]">
        <li class="list-group-item" *ngIf="n%2 == 0">{{n}}</li>
        <li class="list-group-item" *ngIf="n%2 != 0">{{n}}</li>
      </div>
    </ul>
    <h5>ngSwitch</h5>
    <div [ngSwitch]="value">
      <p *ngSwitchCase="100">value is 100</p>
      <p *ngSwitchCase="200">value is 200</p>
      <p *ngSwitchCase="500">value is 500</p>
      <p *ngSwitchCase="1000">value is 1000</p>
    </div>
  </div>

  <div class="col-md-12 my-3">
    <h3>Attribute directive example</h3>
    <h5>NgClass</h5>
    <ul *ngFor="let person of people">
      <li [ngClass]="{
        'text-success':person.country === 'UK',
        'text-primary':person.country === 'USA',
        'text-danger':person.country === 'HK'
      }">{{ person.name }} ({{ person.country }})
      </li>
    </ul>
    <a ngClass="btn btn-primary btn-block" href="/directives">uses ngClass="btn btn-primary" Click me</a>
    <h5>NgStyle</h5>
    <p [ngStyle]="{'color': 'green'}">this is styled using ngStyle directive</p>
  </div>

  <div class="col-md-12 my-3">
    <h3>Custom directive example</h3>
    <p appHighlight>styled using basic directive: appHighlight</p>
    <p appBetterHighlight>styled using better directive: appBetterHighlight</p>
    <p appHostlistenerHighlight>styled using Hostlistener decorator in appHostlistenerHighlight (mouseover)</p>
    <p appHostbindingHighlight>styled using Hostlistener and HostBinding decorator in appHostbindingHighlight
      Note: prefer this method to perform operation on dom element (mouseover)</p>
    <p appHostbinding2propertyHighlight
      [defaultColor]="'yellow'"
      [highLightColor]="'red'">binding to directive properties... appHostbinding2propertyHighlight (mouseover)</p>
  </div>

  <div class="col-md-12 my-3">
    <h3>Custom Structural Directive example</h3>
    <ul class="list-group">
      <div class="" *ngFor="let n of [1, 2, 3, 4, 5]">
        <li class="list-group-item" *appCustomStructuralDirective="n%2 == 0">{{n}}</li>
        <!-- <li class="list-group-item" *appCustomStructuralDirective="n%2 != 0">{{n}}</li> -->
      </div>
    </ul>
  </div>
</div>
