.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow: auto;
}

.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);
}
