<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand d-none d-md-block" href="">Angular Bootstrap Snippets</a>
    <a class="navbar-brand d-block d-md-none" href="">ABS</a>

    <div class="dropdown d-block d-md-none">
        <button type="button pull-right" class="btn btn-dark btn-sm dropdown-toggle" data-toggle="dropdown"
        id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
          Components
        </button>
        <div class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenuButton">
            <app-side-navbar></app-side-navbar>
        </div>
    </div>

    <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
