[class *='col-md'] {
    background-color: orange; 
    margin: auto; 
    padding: 50px; 
    margin-bottom: 10px; 
}

[class *='col-zm'] {
    background-color: green; 
    margin: auto;
    padding: 50px;
    margin-bottom: 10px;    
}