<div class="dropdown">
  <button type="button" class="btn btn-default btn-sm btn-block dropdown-toggle" data-toggle="dropdown">
    Forms
    <span class="col-lg-4">
      <span class="caret"></span>
    </span>
  </button>
  <div class="dropdown-menu btn-block" role="menu">
    <a class="dropdown-item" [routerLink]="['/forms', 'feedback']">Feedback</a>
    <a class="dropdown-item" [routerLink]="['./signup']">SignUp</a>
    <a class="dropdown-item" [routerLink]="['./signin']">SignIn</a>
  </div>
</div>

<router-outlet></router-outlet>